@model TimeSheet.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/project/dashboard.js"></script>
<h2>Welcome @Convert.ToString(Session["LoginUser"]) </h2>

